
body{
     background-color:#f2e1f7;
     margin: 0px;
}

h1 {color:black;
    
     font-family: 'Bree Serif', serif;
     font-size: 2.5rem;
}

h2 {color:black}

h3 {
     color: rgb(148, 17, 17);
     font-size:50px;
     text-align: right;
}


                                       /* Barra de navegacion*/ 

.navbar{

     padding: 2rem;
     
     border-radius: 20px;
}


.navbar-collapse {

     align-items: center;
     justify-content: space-between;
}

                                  /*Adaptanle y responsivo*/


@media screen and (max-width: 777px){
     .navbar-brand {
          display:none
     }
}

@media screen and (min-width:700px){
.principio-inferior-img{
     max-width: 400px;
}
} 
     
                                           /*  Secciones    */

section{
     display:flex;
     flex-direction: column;
     align-items:center;
     justify-content: center;

}

.koko{
     margin-left: 40px;
     margin-right: 40px;
}

.br-salto{
margin: 20px;
padding: 20px;
border-color:transparent;
}

.experiencias-tarjetas{
    
     margin: 10px;
     padding: 30px;
}


.seccion-oscura{
     background-color: #cb98db;
     color: rgb(58, 43, 43);
}

.principio{
     background-color:#f2e1f7 ;
     min-height: 450px;
     text-align:center

}

.principio-1 {

     padding: 5px 3rem 10px 3rem;
}

.principio-1 h2 {
     font-size: 1.5rem;
     color: grey;
     font-family: 'Inconsolata', monospace;
}

.sobre-mi{
     height: 500px;
     padding: 20px;
     
}

.sobre-mi .contenedor{

max-width: 600px;
text-align: center;

}

.seccion-titulo {
     font-size: 2rem;
     padding:15px 0;
     font-family: 'Bree Serif', serif;
}

.seccion-texto {

font-size: 1.2rem;
padding: 15px;

}


.badge {
     font-size: 15px;
     font-weight: bold;
     margin: 10px 5px;
}







.imagenperfil {border-radius: 50%;
width: 210px;
border-color: white;
border-width: 10px;
border-style: solid;
margin: 25px}


.probar-hover {
     transition: all 0.2 ease-in;
}

.probar-hover:hover{
     color: white;
     background-color: black;

}

.jugueton li{

font-size: 30px;
margin: 10px;
padding: 0px 50px;
color: black;
}

.jugueton {
     justify-content: space-evenly;
     font-size: 30px;
     margin: 10px;
}


.jugueton i{
     font-size: 2.5rem;
    
}

.jugueton .juju i{
     color:black;
}

.jugueton .juji i{
     color:green;
}


.kiki{
     margin-left: 5px;
     margin-right: 5px;
}